*{
    margin: 0;
    padding: 0;
}
header{
    height: 130px;
    background-color: white;

}
.hedup{
    height: 45px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
}
.hedup p{
    margin-left: 5px;
}
.hedup ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    letter-spacing: 2px;

}
.hedup ul li{
    padding: 0 20px;
    list-style: none;
    
}
.hedup ul li a{
    color: white;
    text-decoration:none;
}
.hedown{
    display: flex;
    font-size: 15px;

}
.logo{
    width: 100px;
    display: flex;
    padding: 30px;
}
.nav{
    margin: auto;
    display: flex;
}
.nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
    letter-spacing: 2px;
}
.nav ul li{
    padding: 20px;
    list-style: none;
}
.nav ul li a{
    color: black;
    text-decoration:none;
    cursor: pointer;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.nav-right a{
    padding: 10px;
}
main{
    height: 933px;
    background-color: white;
}
.top{
    height: 60px;
    background-color: #f3f2ee;
    padding: 40px;
}
.top h2{
    font-size: 24px;
    font-weight: 700;

}
.top p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.contmid{
    height: 800px;
    width: 100%;
    padding: 50px;
    display: flex;
}
.prodtab{
    width: 700px;
    height: 700px;
    padding: 0px 15px;
    display: flex;
    text-align: center;
}
.prodtab table{
    width: 100%;
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: gray;
}
.prodtab table thead{
    border-bottom: 2px solid black;
    display: table-header-group;
    vertical-align:middle ;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.prodtab table thead tr th{
    color: #111111;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.prodtab table tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.prodtab table tbody tr td{
    padding-top: 30px;
    padding-bottom: 30px;
}
.prodtab table tbody tr td .prod_cart_item{
    width: 400px;
}
div{
    display: block;
}
.prodtab table tbody tr td .prod_cart_item .prod_img{
    float: left;
    margin-right: 30px;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.left-menu{
    height: 700px;
    width: 390px;
    padding: 0px 15px;
    background-color: white;
}
.discount{
    width: 100%;
    height: 104px;
    margin-bottom: 60px;
    background-color: white;
    margin-left: 15px;
}
.discount h6{
    color: black;
    font-size: 16px;
    font-weight: 700px;
    margin-bottom: 35px;
}
.discount input{
    height: 50px;
    width: 60%;
    font-size: 14px;
    color: #b7b7b7;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
}
.discount button{
    height: 50px;
    width: 110px;
    background-color: black;
    color: white;
    font-size: 14px;
}
.carttotal{
    width: 80%;
    height: 180px;
    background-color: #f3f2ee;
    padding: 35px ;
    margin-left: 15px;
}
.carttotal h6{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 12px;

}
.carttotal ul{
    display: block;
    list-style-type: disc;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}
.carttotal ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #444444;
    line-height: 40px;
    display: list-item;
}
.carttotal ul li span{
    float: right;
    font-weight: 700;
    color: #e53637;
}
.carttotal a{
    display: block;
    padding: 12px 10px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 30px;
}
.container{
    height: 100;
    background-color: black;
}
.upper{
    height: 80%;
    display: flex;
    padding: 70px;

}
.endlogo{
    width: 262px;
    height: 161px;
    margin-bottom: 30px;
}
.logoimg{
    width: 100%;
    height: 30%;
}
.logoimg img{
    width: 100%;
    height: 100%;
}
.mid-cont{
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.end-img{
    margin-top: 5px;
}
.shoplist1{
    width: 165px;
    height: 184px;
    margin-left: 97px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}
.shoplist1 h4{
    color: white;
}
.shoplist1 ul{
    display: block;
    justify-content:center;
    align-items: center;
}
.shoplist1 ul li{
    padding: 15px 20px;
    list-style: none;
}
.shoplist1 ul li a{
    color: gray;
    text-decoration:none;
    cursor: pointer;
}
.shoplist2{
    width: 165px;
    height: 184px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}
.shoplist2 h4{
    color: white;
}
.shoplist2 ul{
    display: block;
    justify-content:center;
    align-items: center;
}
.shoplist2 ul li{
    padding: 15px 20px;
    list-style: none;
}
.shoplist2 ul li a{
    color: gray;
    text-decoration:none;
    cursor: pointer;
}
.lower{
    width: 263px;
    height: 158px;
    margin-left: 97px;
    padding: 15px;
}
.lower h4{
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
}
.lower p{
    color: white;
    font-size: 15px;
    padding-top: 10px;
}
#btn{
    color: black;
    background-color: black;
    margin-top: 20px ;
    font-size: 15px;
    border: none;
}
.extlow{
    text-align: center;
    color: gray;
}
.extlow hr{
    margin-bottom: 40px;
}
.extlow h4{
    font-size: 16px;
}